html {
    height:100%;
}

body {
    margin:0;
}

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #DDAF94 50%, #E8CEBF 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}

.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}

.bg3 {
    animation-duration:5s;
}

.content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
}

h1 {
    font-family:monospace;
}

@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
    100% {
        transform:translateX(25%);
    }
}

.jumbotron {
    font-size: 1.5rem;
}

.emphasis {
    color: darkgreen;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
    /* max-width: 80%; */
    height: auto;
    margin: 0 auto;
    padding: 30px 0 0;
    list-style: none;
}

.grid-item {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 60px;
    align-items: center;
    justify-content: center;
    position: relative;
    height: auto;
    margin-right: 20px;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 2rem;
    /* font-weight: 600; */
    color: #ecf0f7;
    background: #f3e9e3;
    box-shadow: inset 0px 0px 0px 1px #edeef4;
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
    transition: transform 0.14s ease-in, text-shadow 0.1s ease-in;
    will-change: transform;
    cursor: pointer;
}

.grid-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: none;
    border-radius: 3px;
    box-shadow: 0 10px 24px 0px rgba(0, 0, 0, 0.02), 0 8px 20px -2px rgba(0, 0, 0, 0.06), 0 6px 10px -6px rgba(0, 0, 0, 0.1);
    transition: opacity 0.1s ease-in;
    will-change: opacity;
    opacity: 0;
}

.grid-item:hover {
    transform: translate(0, -4px);
    transform: translate3d(0, -4px, 0);
}

.grid-item:hover:before {
    opacity: 1;
}

a {
    flex-direction: column;
    color: darkgreen;
    transition: all .2s ease-in;
    text-decoration: none;
}